<section class="photo-caption">

  <div class="image-and-caption">
    <img src="/images/{{owner.id}}/{{ path }}">

    <textarea class="caption form-control" placeholder="Título">{{ caption }}</textarea>
  </div>

  <h5>Etiquetados</h5>

  {{#each tagged}}
    <div class="label label-primary tagged-remove" data-user="{{ id }}">{{ username }}</div>
  {{/each}}

  <p></p>
  <input type="text" class="form-control autocomplete" placeholder="Etiqueta Amigos">

  <a href="#" class="get-geolocation btn">Agregar localización</a>
</section>