<article class="photo-feed">
  {{!-- Photo Header --}}
  <header class="header">

    <div class="avatar-container">
      {{#if owner.profile_image}}
        <img src="{{#s3Url owner.id owner.profile_image}}{{/s3Url}}" class="avatar-image">
      {{else}}
        <img src="images/placeholders/placeholder_profile.png">
      {{/if}}
    </div>

    <div class="owner-username-and-name">
      <a class="profile_link" href="#profile/{{ owner.username }}">
        {{ owner.name }}
      </a>
      <span class="area">{{  owner.area }}</span>
    </div>

    <span class="timeago" title="{{ created }}">{{ created }}</span>
  </header>

  {{!-- Photo Image --}}
  <div class="photo-container">
    <img class="photo-image b-lazy"
    src="{{#absoluteUrl 'images/photo-placeholder.gif'}}{{/absoluteUrl}}"
    data-src="{{#s3Url owner.id path}}{{/s3Url}}">
  </div>

  {{!-- Photo Info --}}
  <div class="info">

    <div class="buttons-like-and-comment">
      {{#checkLiked liked}}
        <button class="unlike"><i class="icon ion-ios-heart"></i></button>
        {{else}}
        <button class="like"><i class="icon ion-ios-heart-outline"></i></button>
      {{/checkLiked}}

      <button class="comment-focus"><i class="icon ion-ios-chatbubble-outline"></i></button>
    </div>

    <div class="counters">
      <span class="likes-count"><i class="icon ion-ios-heart"></i> {{#countArr liked}} {{/countArr}}</span>

        <span class="comments-count"><i class="icon ion-ios-chatbubble"></i> {{#countArr comments}} {{/countArr}}</span>
    </div>

    {{!-- Photo Comments --}}
    <div class="comments">
      <ul>
        <li>{{#convertHashtag caption}}{{/convertHashtag}}</li>

        {{#itsHigher comments 4}}
          <li><a class="see-more" href="#photo/{{ id }}">Ver más comentarios</a></li>
        {{/itsHigher}}

        {{#each comments}}
          <li>
            <a href="#profile/{{ commenter.username }}" class="profile_link" >
              {{ commenter.username }}
            </a>
            {{#convertHashtag text }}{{/convertHashtag}}
          </li>
        {{/each}}
      </ul>
    </div>

    <div class="input-group comment-create-container">
      <input type="text" class="form-control commentText" placeholder="Comentar...">
      <span class="input-group-btn">
        <button class="comment btn"><i class="icon ion-ios-paperplane-outline"></i></button>
      </span>
    </div>

  </div>
</article>

