<div class="media">
  <div class="media-body">
    {{ from }} {{ text }}
  </div>
  <div class="media-right">
    <a href="/#photo/{{ photo.id }}">
      <img src="/images/{{owner}}/{{ photo.path }}" width="40">
    </a>
  </div>
</div>
