<div class="activity-item">
  <div class="media">
    <div class="media-body">
      <span class="profile-image">
      {{#if from.profile_image}}
        <img src="{{#s3Url from.id from.profile_image}}{{/s3Url}}">
      {{else}}
        <img src="images/placeholders/placeholder_profile.png">
      {{/if}}

      </span>

      <a href="#profile/{{from.username}}">{{ from.name }}</a> {{ text }}
      <span class="timeago" title="{{ created }}">{{ created }}</span>
    </div>

    <div class="media-right">
      <a href="#photo/{{ photo.id }}">
        <img src="{{#s3Url photo.owner photo.path}}{{/s3Url}}" width="40">
      </a>
    </div>
  </div>
</div>