<div class="row">
  <div class="col-lg-12">
    <img src="/images/{{ user.profile_image }}" class="img-circle pull-left" width="40">
    <h5>{{#countArr photos}} {{/countArr}} Fotos</h5>
    {{ user.name }}
    {{ user.area }}
    <a href="/#tagged/{{ user.username }}" class="tagged btn btn-primary">
      <i class="fa fa-tags"></i>
    </a>
    {{#userAuthenticated user.id}}
    <a href="/#profile/{{ user.id }}/edit" class="tagged btn btn-primary">
      <i class="fa fa-user"></i>
    </a>
    {{/userAuthenticated}}
  </div>
</div>
<hr>
<div class="row">
  {{#each photos}}
  <a href="/#photo/{{ id }}">
    <img src="/images/{{ owner }}/{{ path }}" alt="" class="col-xs-4 col-sm-4" style="padding:2px"/>
  </a>
  {{/each}}
</div>

