<div class="row">
  <div class="col-lg-12">
    <div class="profile-img-container">
      <img src="/images/{{ user.profile_image }}">
    </div>
    <h5>{{#countArr photos}} {{/countArr}} Fotos</h5>
    {{ user.name }}
    {{ user.area }}
    <a href="/#profile/{{ user.username }}" class="tagged btn btn-primary">
      <i class="fa fa-picture-o"></i>
    </a>
  </div>
  <p></p>


</div>
<hr>
<div class="row">
  {{#each photos}}
  <a href="/#photo/{{ id }}">
    <img src="/images/{{ owner }}/{{ path }}" alt="" class="col-xs-4 col-sm-4" style="padding:2px"/>
  </a>
  {{/each}}
</div>

